<% provide(:title, "About") %>
<h1>About</h1>
<p>
Projet fully developed by Ryan Evans, Joshua Kim, Rebecca Amare, Dawit Asmelash, Brian Nguyen, and Julian Sabarre.
Access <a href="https://github.com/revans17/YEP_Vol_Final"> Project Source Code</a> 
</p>

<p>
Please use this site to communicate with other Volunteers. Feel free to post about work you have done, are doing, and look forward to doing.
Also, you will be recieving points based on the work that you do. These will show up on your profile. If you have any questions, reach out.
We think you for your time.
</p>
