<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<a href="mailto:info@yepnetwork.org?Subject=Volunteer%20Question" target="_top">Send Mail</a>
<br>
<a href="https://github.com/revans17/YEP_Vol_Final">Project Source Code</a>
</p>
