<% provide(:title, 'Contact') %>
<h1>FAQ</h1>

<ul>
     <li>Why does my account not log me in? You need to verify your email, if you cannot verify the email, an admin can verify your account for you.</li>
     <li>Why can I not view all users’ posts? You must be following a user to view their posts.</li>
     <li>How do I get points and what are they used for? Partner with an admin to get more direction on how points are awarded.
          Points are used to reward volunteers for hard work.</li>
     <li>Send an email to an admin by clicking the "Send Mail" link below.</li>
</ul>
<p>
<a href="mailto:info@yepnetwork.org?Subject=Volunteer%20Question" target="_top">Send Mail</a>
</p>
