<% provide(:title, 'How-To') %>
<br>
<p>
     This site was created for The YEP Network. This site will allow users to post in the discussion, get points for volunteer work,
     and get the latest info on news within the community. We have created step-by-step instructions for how to use the site. I will
     list some key points below:
     <ul>
          <li>The user must verify their email before being able to access the site.</li>
          <li>Once the account is verified by email, the user can then use the site.</li>
          <li>There are two different types of users (Admins and Users)</li>
          <li>An admin account can promote other users to admin, delete posts, delete users, add or deduct points, and view specific content.</li>
          <li>All posts to discussion board are stored in a database. (All information about accessing database was emailed to you)</li>
          <li>Users can only see other posts for the users they follow.</li>
          <li>The users tab at the top sorts in order from greatest to least points.</li>
          <li>You can verify an account by going to the user's page for the account you want to verify.</li>
          <li>You can make any user an Admin by going to their page.</li>
     </ul>

     Please feel free to email with any questions about how to use the site or problems that arise.
<a href="mailto:revans17@gmu.edu?Subject=YEP%20Admin%20Questions%20(<%=current_user.name%>)" target="_top"><h3>Developer Contact</h3></a>
<br>
<a href="https://github.com/revans17/YEP_Backup"><h3>Project Source Code</a></h3>
</p>
