<% provide(:title, @title) %>
<h1>Rewards</h1>
<p>
This application is designed to allow volunteers to communicate with each other on the site and post updates, questions, and progress on
current projects. We hope to give out points based on the work that you are doing for us. These points can be redeemed for gift cards
to use anywhere you would like. Some options would be:
<br>
<br>
<table style="width:100%">
     <tr>
          <td>
               <ul>
                    <li>Starbucks</li>
                    <li>Chick-Fil-A</li>
                    <li>Dunkin-Donuts</li>
                    <li>McDonalds</li>
                    <li>Visa Gift Cards</li>
                    <li>Regal Gift Cards</li>
               </ul>
          </td>
          <td>
          <table style="width:80%" border="1px">
            <tr>
              <th>Number of Points</th>
              <th>Reward</th>
            </tr>
            <tr>
              <td>100</td>
              <td>$5 Giftcard</td>
            </tr>
            <tr>
              <td>200</td>
              <td>$10 Giftcard</td>
            </tr>
            <tr>
             <td>300</td>
             <td>$15 Giftcard</td>
            </tr>
            <tr>
             <td>400</td>
             <td>$20 Giftcard</td>
            </tr>
            <tr>
             <td>500</td>
             <td>$25 Giftcard</td>
            </tr>
          </table>
          </td>
     </tr>
</table>
</p>
<br>
<table style="width:100%">
     <tr>
          <td><%= image_tag("rsz_startwo.jpg", :alt => "rss feed") %></td>
          <td></td>
          <td><%= image_tag("rsz_starone.jpg", :alt => "rss feed") %></td>
     </tr>
</table>




<br>
<br>
<p>
Please use this site to communicate with other Volunteers. Feel free to post about work you have done, are doing, and look forward to doing.
Also, you will be recieving points based on the work that you do. These will show up on your profile. If you have any questions, reach out.
We thank you for your time.
</p>
