<footer class="footer">
  <small>
    Internal use only
  </small>
  <nav>
    <ul>
      <li><%= link_to "Rewards",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://yepnetwork.org/">News</a></li>
      <% if logged_in? && current_user.admin?%>
      <li><%= link_to "How-To",   how_to_path %></li>
      <%end%>
    </ul>
  </nav>
</footer>
